/* ============== style général */
#header {
  background-color:#dddddd;
} 

#mainmenu {
  margin-left:auto;
  margin-right:auto;
  font-size:80%;
}

body {
  text-align:justify;
}

p.entree { text-align:center; }

h1,h2,h3,h4,h5,h6 {
  text-align:center;
  font-weight:bold;
  clear:both;
}

/* ============== logo RCKL */
#logo {
 height:50pt; 
 vertical-align:-30%;
} 

#rckl, #rckl-long { 
  font-family:Impact, Charcoal, sans-serif;
}

#rckl { 
  font-size:50pt; 
}

#rckl-long {
  font-size:20pt; 
}

/* =============== style pour le chat */
#chatpage {
  position: absolute; 
  bottom: 5px;
  overflow: auto;
}

.chatauteur, .chatmember {
  background-color:#dddddd;
  margin:0 10px 0 0;
  padding: 0 2px;
}

.chatmember:hover {
  background-color:#ffffff;
}

.chatmessage {
  border-top:1pt solid #dddddd;
  padding: 2pt 0pt;
}

#chatbox {
  width:75%;
  margin-bottom: 5px;
} 


/* =============== style pour le trombi */
table.trombi {
  	display:inline-table;
	padding-right:30px;
        padding-bottom:20px;
      }

table.trombi tr:last-child td { 
  text-align:center;
}

table.trombi img {
  width:128px;
}

/* ================== style pour les news */
.date {
  background-color:#dddddd;
  /* float:left; */
  margin:0 10px 0 0;
}

.auteur {
  font-size:.8em;
  color:#ffffff;
  float:right;
  margin:0 0 0 50px;
}

.news { text-align:justify; }

hr { clear:both; }


/* =================== style de la table des sorties */
#sorties {
  text-align:left;
  border-collapse:collapse;
}

#sorties td, #sorties th { 
  border:1px solid black;
  padding:3px;
  vertical-align:top;
}

#sorties thead {
  background-color:#dddddd;
  text-align:center; 
}

#sorties td:nth-child(4), #sorties td:nth-child(6) { 
  min-width:30%; 
  text-align:justify;
}

/* ================ style des archives */
.archive .playableIcon {
  position:absolute;
  z-index:1;
  height:19px;
  border-width:0px;
  bottom:5px;
  left:5px;
  opacity:1;
}

.archive .auteur {
  font-size:.8em;
  color:#ffffff;
  float:right;
  margin:0 0 0 50px;
}

.archive div.entete {
  margin-bottom:7px;
}

.archive .titre {
  font-weight:bold;
  margin:0 10px 0 0;
  padding:0 5px;
  border:1px solid black;
}
 
.archive .commentaire {
  text-align:justify;
  margin-bottom:7px;
}

.archive img {
  height:85px;
  border:1px solid black;
  opacity:0.75;
}

.archive img:hover {
  opacity:1;
}

.archive table td:nth-of-type(2) img {
  height:100%; 
}

.archive table {
  border-collapse:collapse;
}

.archive td { 
  padding:0;
  vertical-align:top;
}

.archive .miniature a {
  padding:0;
  margin:0;
  border:0;
  text-decoration:none;
}

.archive .miniature {
  float:left;
  position:relative;
  vertical-align:top;
  margin-bottom:10px;
  margin-right:10px;
  padding:0;
}

/* =================== style des tables de frais */

#historique, #bilanglobal {
  text-align:left;
  border-collapse:collapse;
}

#historique td, #historique th, #bilanglobal td { 
  border:1px solid black;
  padding:3px;
}

#historique thead { 
  background-color:#dddddd;
  text-align:center; 
}

#historique td:nth-child(4), #historique td:nth-child(5) { 
  min-width:35%; 
}

img.edit {
  border:0;
  height:100%;
  opacity:1;
}

/* =================== style de l'édition des archives */
div.bigskip {
  margin-bottom:1cm;
}

label.archiveedit {
  display:block;
  font-weight:bold;
  text-align: center;
}

input.archiveedit, textarea.archiveedit, span.archiveedit {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#valeurdate {
  text-align:center;
}

.participant, .suggestionParticipant {
  margin-left:10px;
  margin-right:10px;
}

#ligneajout, #ligneparticipants, #suggestions{
  text-align:center;
}

#sendButton {
    padding: 0px 10px;
    position: relative;
    top: 8px;
}

#zoneSaisie {
  display: none;
  position:fixed;
  top:30px;
  right:5px;
}

div.media {
  display:inline-block;
  position:relative;
  padding-right:20px;
  padding-bottom:20px;
}

div.media img.miniature {
  height:85px;
  display:block;
}

div.media img.playableIcon {
  position:absolute;
  z-index:1;
  height:19px;
  border-width:0px;
  top:60px;
  left:5px;
}

div.media img.arrows {
  float:right;
}
/* ========== le fond des pages ============== */
.SlideBox-box1-div {
  position:fixed; 
  bottom:5%; 
  right:5%; 
}

.SlideBox-box1-img {
  width:500px;
}

#SlideBox-box1-div {
  border-style:solid;
  border-color:red;
  border-width:10px; 
  border-radius:10px;
}

#SlideBox-box1-div-front { /* pour debug */
 /* 
  border-style:solid;
  border-color:green;
  border-width:1px; 
 */ 
}

body {
  background-image:url(FONDS/background1.jpg);
  background-size:1280px;
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-color:#8ca6c3;
}   
